* {
    box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background: #dde;
    color: #505c61; }

a {
    color: #3e8bd8;
    text-decoration: none; }
a:hover {
    text-decoration: underline; }

.btn {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.08);
    border-color: rgba(255, 255, 255, 0.2);
    border-style: solid;
    border-width: 1px;
    width: 24rem;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }

.btn + .btn {
    margin-right: 1rem; }

.btn:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3); }

@media print {
    .btn {display: none;}}

.main-content {
    background: #ebf0f0;
    box-shadow: 3px 3px 15px #333;}}

.main-content p {
    margin-bottom: 1em; }

ul.mainlist {padding-left: 1em;}

ul {
    list-style: none;
    padding: 0px;}

ul span.date {
    font-size: 0.9rem;
    display: inline-block;
    width: 8.5rem;}

ul span.education-title {font-weight: bold;}

p.skills {
    margin: 0;
    padding-left: 1.5rem;}

p.title-certification {
    margin: 0; 
    padding-left: 8.5rem; 
    font-style: italic; 
    font-weight: bold; 
    color: #999}

ul li {margin-bottom: 1.3rem;}

ul li ul li {
    margin-bottom: 0;}

ul.sub-list {
    list-style: inside square;
    padding-left: 8.5rem;}

p.languages{
    margin: 0.5em;
    padding-left: 2rem; }

ul.languages {list-style: square inside; padding-left: 3.5rem;}
ul.languages li {margin: 0;}

@media screen and (min-width: 64em) {
    .btn {
        padding: 0.75rem 1rem; } }

@media screen and (max-width: 64em) {
    ul span.date {
        display: block;}
    ul span.education-title {padding-left: 1rem; font-size: 1.01rem}
    p.title-certification {
        padding-left: 1rem; font-size: 1rem}
    ul.sub-list {
        list-style: inside square;
        padding-left: 1rem;}
    ul span.date {margin-bottom: 0.5rem; font-weight: bold}}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .btn {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem; }}

@media screen and (max-width: 42em) {
    .btn {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem; }
    .btn + .btn {
        margin-top: 1rem;
        margin-left: 0; }}

.page-header {
    color: #fff;
    text-align: center;
    /* 7474B9 - 467546 - light */
    background: -moz-linear-gradient(45deg, rgba(116,116,185,1) 0%, rgba(70,117,70,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(116,116,185,1) 0%, rgba(70,117,70,1) 100%);
    background: -o-linear-gradient(45deg, rgba(116,116,185,1) 0%, rgba(70,117,70,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(116,116,185,1) 0%, rgba(70,117,70,1) 100%);
    background: linear-gradient(45deg, rgba(116,116,185,1) 0%, rgba(70,117,70,1) 100%);
    background: url("../images/background.png") center #256;
    background-size: cover;
    box-shadow: 3px 3px 15px #333;}

@media screen and (min-width: 64em) {
    .page-header {
        padding: 1rem 4rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .page-header {
        padding: 1rem 2rem; } }

@media screen and (max-width: 42em) {
    .page-header {
        padding: 1rem 0.8rem; } }

.project-name {
    text-align: center;
    font-family: 'Vollkorn', serif;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: red;
    border: 0.5rem solid red;
    padding: 1rem;
    border-radius: 1rem;
    width: 8rem;
    opacity: 0.8;
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    margin: 0 auto;
    top: 10px;
    background: #fff;
    box-shadow: 3px 3px 5px #000;}

.project-name::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: auto;
    min-height: 100%;
    top: -9px;
    left: -8px;
    padding: 0.5rem;
    opacity: 0.8;
    background: url(../images/noise.png) repeat;}

i {padding-right: 1rem;}

@media screen and (min-width: 64em) {
    .project-name {
        font-size: 3.49rem; } }

.left-aligned {position: relative; float: left;}
.right-aligned {position: relative; float: right;}
.left-aligned p, .right-aligned p {padding:0; margin: 0;}
.myContacts {
    max-width: 64rem;
    padding: 0 1rem;
    margin: 0 auto;  
    text-align: left;}
.btn-div {margin: 0; padding: 0; padding-top: 1rem;clear: both;}

.project-tagline {
    margin: 0 0 1rem 0;
    font-weight: normal;
    opacity: 1; }

.project-tagline2 {
    font-weight: bold;
    padding: 0; margin: 0; margin-top: 0.5rem;}

@media screen and (min-width: 64em) {
    .project-tagline {font-size: 1.25rem; } 
    .project-tagline2 {font-size: 2.45rem; }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .project-tagline{
        font-size: 1.15rem; } 
    .project-tagline2 {font-size: 2.25rem; }}

@media screen and (max-width: 42em) {
    .left-aligned {float: none;}
    .right-aligned {float: none;}
    .project-tagline2 {
        font-size: 2rem; margin: 0.9rem}
    
    .project-tagline {
        font-size: 1rem; margin: 0.9rem} }

.main-content :first-child {
    margin-top: 0; }

.main-content img {
    max-width: 100%; }

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 1.75em;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #ddffff; }

h3 {
    position: relative;
    margin-left: -8rem;
    padding: 0.7rem 3rem;
    background: #b66;
    margin-right: 25rem;
    box-shadow: 3px 3px 5px #999}

h3:after {
    content: ' ';
    position: absolute;
    width: 0px;
    height: 0px;
    left: 0px;
    top: 100%;
    border-width: 5px 1rem;
    border-style: solid;
    border-color: #777 #777 transparent transparent;}

.main-content code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: #383e41;
    background-color: #f3f6fa;
    border-radius: 0.3rem; }

.main-content pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
    border-radius: 0.3rem; }

.main-content pre > code {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    color: #567482;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0; }

.main-content .highlight {
    margin-bottom: 1rem; }
.main-content .highlight pre {
    margin-bottom: 0;
    word-break: normal; }

.main-content .highlight pre, .main-content pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem; }

.main-content pre code, .main-content pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0; }

.main-content pre code:before, .main-content pre code:after, .main-content pre tt:before, .main-content pre tt:after {
    content: normal; }

.main-content ul, .main-content ol {
    margin-top: 0; }

@media screen and (min-width: 64em) {
    .main-content {
        max-width: 64rem;
        padding: 1.5rem 6rem;
        padding-bottom: 1rem;
        margin: 0 auto;
        font-size: 1.1rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
    .main-content {
        padding: 1.5rem 4rem;
        font-size: 1.1rem; } 

    h3 {
        margin-left: -4rem;
        margin-right: 0;
        padding-left: 1.55rem;
        margin-right: 20%;}
    h3:after {display: none;}}

@media screen and (max-width: 42em) {
    .main-content {
        padding: 1.5rem 1rem;
        font-size: 1rem; }

    h3 {
        margin-left: 0;
        margin-right: 0;
        padding: 0.2rem 0.75rem;}
    h3:after {display: none;}}

@media print {
    .page-header, .main-content {
        color: #000;
        box-shadow: none;}}
